* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 70px;
}

.content {
    margin: auto;
    height: auto;
    overflow: auto;
}

/* Container */

.container {
    width: 1000px;
    margin: auto;
    height: auto;
    /* overflow: auto; */
}

/* Form Elements */

textarea {
    width: 400px!important;
    height: 100px!important;
    resize: none;
}

.admin-page-content ul {
    font-size: 16px;
    padding-left: 15px;
}

.admin-page-content ul > li {
    list-style: none;
}

.admin-page-content ul > li > a {
    color: #428bca;
    text-decoration: none;
}

.admin-page-content ul > li > a:active {
    color: #428bca;
    text-decoration: none;
}

.admin-page-content img {
    max-height: 200px;
    max-width: 250px;
}

.recipe-content ul {
    padding-left: 15px;
    list-style: circle inside;
}