* {
    margin: 0;
    padding: 0;
}

body {
    font: 17px Arial, Helvetica, sans-serif;
    color: #000000;
}

a, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #d8be81;
    padding: 5px 15px;
}

p {
    color: #d8be81;
}

/* Container */

.container {
    width: 1000px;
    margin: auto;
    height: auto;
    overflow: auto;
}

/* Header */

header {
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.4);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.4);
    -ms-box-shadow: 0 5px 10px rgba(0,0,0,.4);
    -o-box-shadow: 0 5px 10px rgba(0,0,0,.4);
    box-shadow: 0 5px 10px rgba(0,0,0,.4);
    z-index: 2;
    position: relative;
}

.top {
    color: #66512c;
    height: 151px;
    padding: 25px 0;
    background: url('../images/logo.png') no-repeat center;
}

.top > div {
    float: left;
    width: 352px;
    height: inherit;
}

.top > a {
    display: block;
    float: left;
    width: 296px;
    height: inherit;
    margin: 0;
}

.top-phone > ul {
    height: auto;
    overflow: auto;
    font-weight: bold;
    list-style: none;
    color: #d8be81;
    padding: 11px 25px 12px 25px;
    margin-right: 95px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: #66512c;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
    -ms-box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
    -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.top-phone > ul > li {
    padding-top: 7px;
    padding-left: 38px;
    height: 32px;
}

.top-phone > ul > li:nth-child(1) {
    background: url("../images/phone-46-32 (1).png") no-repeat;
}

.top-phone > ul > li:nth-child(2) {
    background: url("../images/mail-32 (1).png") no-repeat;
}

.top-phone > ul > li:nth-child(3) {
    background: url("../images/time-8-32.png") no-repeat;
}

/* Login Form */

.login-form {
    font-size: 15px;
    height: auto;
    overflow: auto;
    color: #d8be81;
    padding: 10px 15px;
    margin-right: 15px;
    margin-left: 80px;
    border-radius: 10px;
    background-color: #66512c;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
    -ms-box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
    -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.login-form > label {
    display: block;
    height: 20px;
    padding: 5px;
}

.login-form > label:nth-child(5n) {
    display: inline-block;
    height: 20px;
}


.login-form > label:nth-child(4n) > input {
    height: 13px;
}

.login-form > label:nth-child(5n) > input {
    border-radius: 0;
}

.login-form > label > span {
    display: inline-block;
    width: 227px;
}

.login-form > label > input {
    font: inherit;
    height: 20px;
    border-radius: 5px;
    padding: 0 10px;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

/* Navigation */

nav {
    color: #66512c;
    font-weight: bold;
}

.menu {
    list-style: none;
    height: 44px;
}

.menu > li {
    display: block;
    float: left;
    width: 164px;
    height: inherit;
    text-align: center;
    padding: auto 0;
    border-radius: 10px 10px 0 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.menu > li > a {
    display: block;
    height: inherit;
    line-height: 44px;
}

.menu > li > a#high {
    width: 180px;
    line-height: normal;
    height: calc(44px - 4px);
    padding: 2px 0;
}

.menu > li:hover, .menu > li:hover > ul {
    color: #d8be81;
    background-color: #66512c;
}

.menu > li:hover > ul {
    display: block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.sub-menu {
    position: absolute;
    width: inherit;
    display: none;
    list-style: none;
    z-index: 25;
}

.sub-menu > li {
    text-align: center;
    padding: 3px 0;
    height: inherit;
}

.sub-menu > li > a {
    display: block;
    height: inherit;
}

.sub-menu > li:hover {
    background-color: #95681e;
}

/* Content */

.content {
    padding: 20px 0;
    background: url('../images/bg.jpg');
    clear: both;
}

h2.page-title {
    background-color: #66512c;
    color: #d8be81;
    border-radius: 10px;
    margin-right: 15px;
    clear: both;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -ms-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
}

/* Main Page */

.info {
    height: 200px;
    padding: 10px 0;
}

.info > div {
    width: 315px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    float: left;
    text-align: center;
    background-color: #66512c;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -ms-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
}

.info > div:last-child {
    margin-right: 15px;
}

.info > div > p {
    padding: 10px;
}

.info > div > a {
    display: block;
    color: orange;
    font-weight: bold;
    padding: 10px;
}

/* Home Pages */

.page-wrapper {
    margin: 20px 15px 20px 0;
    height: auto;
}

/* Products Page */

.products > div {
    width: 315px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    float: left;
    text-align: center;
    background-color: #66512c;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -ms-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    position: relative;
}

/*.products > div:hover {
    left: 2px;
    top: 2px;
    -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,.4);
    -moz-box-shadow: 3px 3px 10px rgba(0,0,0,.4);
    -ms-box-shadow: 3px 3px 10px rgba(0,0,0,.4);
    -o-box-shadow: 3px 3px 10px rgba(0,0,0,.4);
    box-shadow: 3px 3px 10px rgba(0,0,0,.4);
}*/

.products > div:nth-child(3n) {
    margin-right: 0;
}

.products > div:nth-child(3n+1) {
    clear: both;
}

.products > div > p {
    height: auto;
    padding: 10px 15px;
}

.products > div > img {
    max-width: 275px;
    max-height: 200px;
    margin-top: 10px;
}

.products > div > a {
    height: 20px;
    display: block;
    color: orange;
    font-weight: bold;
    padding-bottom: 15px;
}

.products > div > h3 {
    height: 23px;
}

/* Products Page */

.product-top > div {
    width: 50%;
    text-align: center;
    float: left;
}

.product-top > div:nth-child(2) {
    text-align: left;
}

.product-properties {

}

.product-description p {
    text-align: justify;
}

/* Tea Page */

.tea {
    height: auto;
    overflow: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: #66512c;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -ms-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
}

.tea > div {
    width: 285px;
    height: auto;
    position: relative;
    background-color: #ffffff;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    float: left;
    text-align: center;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -ms-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
}

.tea > div:hover {
    left: 2px;
    top: 2px;
    -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,.4);
    -moz-box-shadow: 3px 3px 10px rgba(0,0,0,.4);
    -ms-box-shadow: 3px 3px 10px rgba(0,0,0,.4);
    -o-box-shadow: 3px 3px 10px rgba(0,0,0,.4);
    box-shadow: 3px 3px 10px rgba(0,0,0,.4);
}

.tea > div:nth-child(3n) {
    margin-right: 0;
}

.tea > div:nth-child(3n+1) {
    clear: both;
}

.tea > div > h3 {
    color: #66512c;
}

.tea > div > p {
    color: #66512c;
}

/* Recipe Page */

.recipe {
    height: auto;
    overflow: auto;
    color: #d8be81;
    text-align: justify;
    padding: 15px 20px ;
    background-color: #66512c;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -ms-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
}

.recipe img {
    max-height: 200px;
    border-radius: 10px;
    clear: both;
}

.recipe a {
    color: orange;
    font-weight: bold;
}

.recipe ul {
    list-style-position: inside;
    padding: 5px 0 0 15px;
}

.recipe-top > div {
    width: 50%;
    text-align: center;
    float: left;
}

.recipe-content {
    clear: both;
}

.recipe-content a {
    color: orange;
    font-weight: bold;
}

.recipe-content h1, .recipe-content h2, .recipe-content h3,
.recipe-content h4, .recipe-content h5, .recipe-content h6 {
    padding: 0;
}

.recipe-content p {
    text-indent: 30px;
}

.recipe-content ul {
    width: auto;
    overflow: hidden;
    padding: 10px 30px;
    list-style: disc outside;
}

.recipe-content *:nth-of-type(odd) img {
    float: left;
    margin: 15px 15px 15px 0;
}

.recipe-content *:nth-of-type(even) img {
    float: right;
    margin: 15px 0 15px 15px;
}

/* Contacts Page */

.contacts h4 {
    text-align: center;
}

.contacts ul li {
    list-style: none;
    padding-top: 7px;
    padding-left: 38px;
    height: 32px;
}

.contacts ul li:first-child {
    background: url("../images/phone-46-32 (1).png") no-repeat;
}

.contacts ul li:nth-child(2) {
    background: url("../images/mail-32 (1).png") no-repeat;
}

.contacts ul li:nth-child(3) {
    background: url("../images/organization-32.png") no-repeat;
}

.contacts ul li:nth-child(4) {
    background: url("../images/time-8-32.png") no-repeat;
}

/* About Page */

.news-item {
    height: 150px;
    background-color: #66512c;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    clear: both;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -ms-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
}

.news-item > div {
    height: 150px;
    float: left;
}

.news-item > div:first-child {
    width: 250px;
}

.news-item > div:last-child {
    width: 680px;
    margin-left: 15px;
}

.news-item > div > h3 {
    padding: 5px 0;
}

.news-item > div > p {
    width: inherit;
    padding: 5px 0;
}

.news-item > div > a {
    color: orange;
    font-weight: bold;
    text-align: center;
}

.news-item > div > img {
    max-height: 150px;
    max-width: 250px;
}

.news-top > div {
    width: 100%;
    text-align: justify;
}

.news-top > img {
    max-width: 250px;
    max-height: 200px;
    float: left;
    margin: 20px;
    text-align: justify;
}

.news-top p {
    text-indent: 30px;
}

.about-content a {
    color: orange;
    font-weight: bold;
}

.about-content h1, .about-content h2, .about-content h3,
.about-content h4, .about-content h5, .about-content h6 {
    padding: 0;
}

.about-content p {
    text-indent: 30px;
}

.about-content ul {
    width: auto;
    overflow: hidden;
    padding: 10px 50px;
    list-style: disc outside;
}

.about-content *:nth-of-type(odd) img {
    float: left;
    margin: 15px 15px 15px 0;
}

.about-content *:nth-of-type(even) img {
    float: right;
    margin: 20px 0 15px 20px;
}

/* Offer Page */

.offer-content a {
    color: orange;
    font-weight: bold;
}

.offer-content h1, .offer-content h2, .offer-content h3,
.offer-content h4, .offer-content h5, .offer-content h6 {
    padding: 0;
}

.offer-content p {
    text-indent: 30px;
}

.offer-content ul {
    width: auto;
    overflow: hidden;
    padding: 10px 30px;
    list-style: disc outside;
}

.offer-content *:nth-of-type(odd) img {
    float: left;
    margin: 15px 15px 15px 0;
}

.offer-content *:nth-of-type(even) img {
    float: right;
    margin: 20px 0 15px 20px;
}

/* Register Page */

.register-form {
    height: auto;
    overflow: auto;
    color: #d8be81;
}

.register-form > label {
    display: block;
    height: 25px;
    padding: 5px;
}

.register-form > label:last-child {
    height: 30px;
    padding-left: 50px;
}

.register-form > label:last-child > input {
    border-radius: 0;
}

.register-form > label > span:nth-child(1) {
    display: inline-block;
    width: 180px;
}

.register-form > label > input {
    font: inherit;
    height: 25px;
    border-radius: 5px;
    padding: 0 10px;
}

.register-form > label > span.error-text {
    display: inline;
    color: red;
}

/* Reset Password */

.email-reset {
    height: auto;
    overflow: auto;
    color: #d8be81;
}

.email-reset > label {
    display: block;
    height: 25px;
    padding: 5px;
}

.email-reset > label:last-child {
    height: 30px;
}

.email-reset > label:last-child > input {
    border-radius: 0;
}

.email-reset > label > span:nth-child(1) {
    display: inline-block;
    width: 180px;
}

.email-reset > label > input {
    font: inherit;
    height: 25px;
    border-radius: 5px;
    padding: 0 10px;
}

.email-reset > label > span.error-text {
    display: inline;
    color: red;
}

textarea:focus, input:focus, select:focus {
    /*border-radius: 10px;*/
    /*border: 2px inset;*/
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
    -ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
    -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
    outline: none;
}

input[type="submit"]:focus {
    box-shadow: none;
}

.error-input {
    /*-webkit-box-shadow: 0px 0px 10px rgb(255, 81, 81);
    -moz-box-shadow: 0px 0px 10px rgb(255, 81, 81);
    -ms-box-shadow: 0px 0px 10px rgb(255, 81, 81);
    -o-box-shadow: 0px 0px 10px rgb(255, 81, 81);
    box-shadow: 0px 0px 10px rgb(255, 81, 81);*/
    border: 2px inset red;
}

/* Footer */

footer {
    color: #66512c;
    font-weight: bold;
    height: auto;
    overflow: auto;
    padding: 20px 0;
    font-size: 14px;
    -webkit-box-shadow: 5px 0 10px rgba(0,0,0,.4);
    -moz-box-shadow: 5px 0 10px rgba(0,0,0,.4);
    -ms-box-shadow: 5px 0 10px rgba(0,0,0,.4);
    -o-box-shadow: 5px 0 10px rgba(0,0,0,.4);
    box-shadow: 5px 0 10px rgba(0,0,0,.4);
}

footer > div > ul {
    width: 25%;
    float: left;
    list-style-type: none;
}

footer > div > ul > li {
    height: 20px;
    padding-left: 20px;
}

footer > div > div:first-child {
    width: 25%;
    float: left;
    text-align: center;
}

footer > div > div > img {
    max-width: 200px;
}

footer > div > ul:first-of-type > li:first-child {
    background: url("../images/phone-51-16.png") no-repeat;
}

footer > div > ul:first-of-type > li:nth-child(2) {
     background: url("../images/mail-16.png") no-repeat;
 }

footer > div > ul:nth-of-type(2) > li {
    background: url("../images/arrow-27-16.png") no-repeat;
}

footer > div > ul:nth-of-type(3) > li:first-child {
    background: url("../images/copyright-16.png") no-repeat;
}

footer > div > ul:nth-of-type(3) > li:nth-child(2) {
    background: url("../images/website-optimization-16.png") no-repeat;
}

footer > div > ul:nth-of-type(3) > li:nth-child(3) {
    background: url("../images/target-audience-16.png") no-repeat;
}