* {
    margin: 0;
    padding: 0;
}

body {
    font: 17px Arial, Helvetica, sans-serif;
    color: #000000;
}

a, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

/* Container */

.container {
    width: 1000px;
    margin: auto;
}

/* Header */

header {
    
}

.top {
    height: 131px;
    padding: 25px 0;
    background: url('../images/logo.png') no-repeat center;
}

.top > a {
    display: block;
    width: 296px;
    height: 131px;
    margin: auto;
}

/* Navigation */

nav {
    color: #66512c;
    font-weight: bold;
}

.menu {
    list-style: none;
    height: 44px;
}

.menu > li {
    display: block;
    float: left;
    width: 200px;
    height: inherit;
    text-align: center;
    padding: auto 0;
    border-radius: 10px 10px 0 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.menu > li > a {
    display: block;
    height: inherit;
    line-height: 44px;
}

.menu > li > a#high {
    line-height: normal;
    height: calc(44px - 4px);
    padding: 2px 0;
}

.menu > li:hover, .menu > li:hover > ul {
    color: #d8be81;
    background-color: #66512c;
}

.menu > li:hover > ul {
    display: block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.sub-menu {
    position: relative;
    width: inherit;
    display: none;
    list-style: none;
    z-index: 10;
}

.sub-menu > li {
    text-align: center;
    padding: 3px 0;
}

.sub-menu > li > a {
    display: block;
    height: inherit;
}

.sub-menu > li:hover {
    background-color: #95681e;
}

/* Content */

.content {
    clear: both;
}

/* Footer */

footer {

}